#net "BTN<0>" CLOCK_DEDICATED_ROUTE = false;
#net "BTN<0>" loc = B18;
#net "BTN<1>" loc = D18;
#net "BTN<2>" loc = E18;
#net "BTN<3>" loc = H13;

net "SW<0>" loc = G18;
net "SW<1>" loc = H18;
net "SW<2>" loc = K18;
net "SW<3>" loc = K17;
#net "SW<4>" loc = L14;
#net "SW<5>" loc = L13;
#net "SW<6>" loc = N17;
#net "SW<7>" loc = R17;

#net "LD<0>" loc = J14;
#net "LD<1>" loc = J15;
#net "LD<2>" loc = K15;
#net "LD<3>" loc = K14;
#net "LD<4>" loc = E17;
#net "LD<5>" loc = P15;
#net "LD<6>" loc = F4;
#net "LD<7>" loc = R4;

net "DP<0>" loc = L18;
net "DP<1>" loc = F18;
net "DP<2>" loc = D17;
net "DP<3>" loc = D16;
net "DP<4>" loc = G14;
net "DP<5>" loc = J17;
net "DP<6>" loc = H14;
#net "DP<7>" loc = C17;

net "AN<0>" loc = F17;
net "AN<1>" loc = H17;
net "AN<2>" loc = C18;
net "AN<3>" loc = F15;

net "CLOCK" loc = B8;
