net "BTN<0>" CLOCK_DEDICATED_ROUTE = false;
net "BTN<0>" loc = B18;
#net "BTN<1>" CLOCK_DEDICATED_ROUTE = false;
#net "BTN<1>" loc = D18;
#net "BTN<2>" CLOCK_DEDICATED_ROUTE = false;
#net "BTN<2>" loc = E18;
#net "BTN<3>" CLOCK_DEDICATED_ROUTE = false;
#net "BTN<3>" loc = H13;

#net "SW<0>" loc = G18;
#net "SW<1>" loc = H18;
#NET "SW<1>" CLOCK_DEDICATED_ROUTE = FALSE;
#net "SW<2>" loc = K18;
#NET "SW<2>" CLOCK_DEDICATED_ROUTE = FALSE;
#net "SW<3>" loc = K17;
#net "SW<4>" loc = L14;
#net "SW<5>" loc = L13;
#net "SW<6>" loc = N17;
#net "SW<7>" loc = R17;

net "LD<0>" loc = J14;
net "LD<1>" loc = J15;
net "LD<2>" loc = K15;
net "LD<3>" loc = K14;
net "LD<4>" loc = E17;
net "LD<5>" loc = P15;
net "LD<6>" loc = F4;
net "LD<7>" loc = R4;

net "DP<0>" loc = L18;
net "DP<1>" loc = F18;
net "DP<2>" loc = D17;
net "DP<3>" loc = D16;
net "DP<4>" loc = G14;
net "DP<5>" loc = J17;
net "DP<6>" loc = H14;
net "DP<7>" loc = C17;

net "AN<0>" loc = F17;
net "AN<1>" loc = H17;
net "AN<2>" loc = C18;
net "AN<3>" loc = F15;

net "CLOCK" loc = B8;

net "JA<0>" loc = L15;
net "JA<1>" loc = K12;
net "JA<2>" loc = L17;
net "JA<3>" loc = M15;
net "JA<4>" loc = K13;
net "JA<5>" loc = L16;
net "JA<6>" loc = M14;
net "JA<7>" loc = M16;

net "JA<8>" loc = M13;
net "JA<9>" loc = R18;
net "JA<10>" loc = R15;
net "JA<11>" loc = T17;
net "JA<12>" loc = P17;
net "JA<13>" loc = R16;
net "JA<14>" loc = T18;
net "JA<15>" loc = U18;

net "JA<16>" loc = G15;
net "JA<17>" loc = J16;
net "JA<18>" loc = G13;
net "JA<19>" loc = H16;
net "JA<20>" loc = H15;
net "JA<21>" loc = F14;
net "JA<22>" loc = G16;
net "JA<23>" loc = J12;

net "JA<24>" loc = J13;
net "JA<25>" loc = M18;
net "JA<26>" loc = N18;
net "JA<27>" loc = P18;
//net "JA<28>" loc = K14;
//net "JA<29>" loc = K15;
//net "JA<30>" loc = J15;
//net "JA<31>" loc = J14;
